.sectionDesc {
  font-size: var(--font-ui-small);
  color: var(--text-muted);
  margin-bottom: var(--size-4-3);
  line-height: 1.4;
}

/* .tagGroup {
  display: flex;
  flex-direction: column;
  gap: var(--size-4-3);
} */

.tagControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-2-2);
  flex-wrap: wrap;
  min-width: 0; /* Allows proper wrapping */
}

.tagInput input {
  /* min-width: 20px !important; */
  /* max-width: 100px !important; */
  /* flex: 1; */
}